/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}

.wrapper {
	min-height: 100%;
	background: #f5f5f5;
}
/* ------------------------------ */

.header__container,
.who-we-are__container,
.promise__container,
.services__container,
.footer__container {
	max-width: 1020px;
	margin: 0 auto;
}
/* HEADER */

.header {
	background: url("../img/header/header.png") 50% / cover no-repeat;
	min-height: 100%;
	position: relative;
	color: #fff;
}

.header::before {
	background: rgba(44, 189, 189, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
}

.header__hat {
	background: #f2726f;
	padding: 20px 0;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 0.2px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}

.header__body {
	padding: 250px 0;
	position: relative;
	z-index: 2;
	max-width: 580px;
}

.header__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 105%;
	margin-bottom: 50px;
}

.header__btn {
	margin-bottom: 20px;
}

.main-button {
	display: inline-block;
	background: #f2726f;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 120%;
	text-align: center;
	letter-spacing: 0.2px;
	padding: 18px 35px;
	border-radius: 6px;
	position: relative;
	top: 0;
}

.main-button:hover {
	box-shadow: 6px 8px 6px #f15653;
}

.main-button:active {
	top: 4px;
	box-shadow: 3px 4px 6px #f15653;
}

/* MAIN */

/*______________DECOR__________________*/

.decor {
	width: 200px;
}

.decor__row {
	text-align: center;
}
.decor__row:not(:last-child) {
	margin-bottom: 20px;
}

.circle {
	width: 20px;
	height: 20px;
	background: #000;
	border-radius: 50%;
	position: relative;
}

.circle::before {
	content: "";
	width: 20px;
	height: 20px;
	background: transparent;
	border: 2px solid #000;
	border-radius: 50%;
	position: absolute;
	bottom: 8px;
	left: 8px;
}

.decor__item {
	display: inline-block;
}
.decor__item:not(:last-child) {
	margin-right: 60px;
}
/*_______________________________*/

.main__block-one {
	margin-bottom: 100px;
	margin-top: -80px;
}

.who-we-are {
	color: #f5f5f5;
	position: relative;
}

.who-we-are::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/main/who-we-are/decor.svg") no-repeat;
	width: 200px;
	height: 315px;
	top: -100px;
	left: 75%;
}

/* .who-we-are__decoration {
	position: absolute;
	top: -100px;
	left: 75%;
	z-index: 2;
} */

.who-we-are__body {
	background: #5d62b5;
	padding: 100px 87px 350px;
	/* border: 1px solid transparent; */
	border-radius: 40px;
	position: relative;
}

.who-we-are__body::after {
	content: "";
	background: url("../img/main/who-we-are/bg.png") no-repeat;
	position: absolute;
	bottom: -150px;
	left: 0;
	width: 665px;
	height: 591px;
}

.subtitle {
	color: #f5f5f5;
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	position: relative;
	padding-left: 30px;
}

.subtitle::before {
	content: "";
	background: url("../img/main/icon/mark.svg") no-repeat;
	position: absolute;
	top: -4px;
	left: 0;
	width: 18px;
	height: 20px;
}

.head__subtitle {
	margin-bottom: 30px;
}
.main-title {
	font-weight: 900;
	font-size: 36px;
	line-height: 120%;
	color: #fff;
}

.head__title {
	max-width: 580px;
	margin-bottom: 35px;
}

.who-we-are__text {
	line-height: 150%;
	letter-spacing: 0.15px;
}

.who-we-are__content-foto {
	position: relative;
	max-width: 846px;
	margin: 0 auto;
	margin-top: -300px;
}

.who-we-are__image {
	width: 100%;
	border-radius: 40px;
	box-shadow: 0 16px 8px rgba(38, 38, 38, 0.24), 0 16px 24px rgba(38, 38, 38, 0.2);
}

/*______________PROMISE__________________*/

.main__block-two {
	margin-bottom: 100px;
}

.promise {
	background: #29c3be;
	position: relative;
	color: #fff;
}

.promise__head {
	text-align: center;
	padding: 20px 0;
	background: #0c9c9c;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	position: sticky;
	z-index: 10;
	top: 65px;
}

.promise__decoration {
	position: absolute;
	top: 30%;
	left: 0;
	z-index: 3;
}

.promise__blot {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
}

.promise__dog {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
}

.promise__line {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 1;
}

.promise__ball {
	position: absolute;
	top: 15%;
	left: 84%;
	z-index: 2;
}

.promise__content {
	position: relative;
	z-index: 8;
	max-width: 460px;
	padding: 110px 45px 160px 0px;
	margin-left: auto;
}

.promise__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 120%;
	margin-bottom: 45px;
}

/*______________SERVICES__________________*/
.services {
	background: #5d62b5;
	padding: 100px 0;
	color: #fff;
}

.services__hat {
	margin-bottom: 50px;
}
.services__list {
	max-width: 600px;
}

.services__item {
	padding: 20px 0 20px 80px;
	border-radius: 10px;
	background: #fff;
	color: #5d62b5;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.15px;
	line-height: 120%;
	position: relative;
}

.services__item:not(:last-child) {
	margin-bottom: 20px;
}

.services__item::before {
	content: "";
	background: url("../img/main/services/icon.svg") 50% / cover no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 3px;
	left: 8px;
}

/*FOOTER*/

.footer {
	padding: 50px 0;
	color: #4b4b4b;
}

.footer__title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.15px;
	line-height: 120%;
	margin-bottom: 30px;
}

.footer__list {
	max-width: 220px;
}

.footer__item {
	line-height: 120%;
	letter-spacing: 0.15px;
	position: relative;
	padding-left: 30px;
}

.footer__item:not(:last-child) {
	margin-bottom: 15px;
}

.footer__item_one::before {
	content: "";
	background: url("../img/footer/map.svg") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: 1.5px;
}

.footer__item_two::before {
	content: "";
	background: url("../img/footer/tel.svg") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: 1.5px;
}
.footer__item_three::before {
	content: "";
	background: url("../img/footer/mail.svg") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	left: 0;
}

.footer__item_four::before {
	content: "";
	background: url("../img/footer/time.svg") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: -1.2px;
}
